<!--{% extends 'cards/layout.html' %}

{% block body %}-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cards</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class='card-deck' style="width: 36rem;">
            <div class='card text-center' >
                <div class='card-header'>
                    hello
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-primary">Show Answer</li>
                <div class="card-footer text-muted">
                    7 days
                </div>
            </div>
            <div class='card text-center'>
                <div class='card-header'>hello</div>
                <div class='card-body'>
                    <h5 class='card-title'>你好</h5>
                    <p class='card-text'>nǐhǎo</p>
                    <p class='card-text text-left'>Some comment about the word on the character, like an example sentence</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-success">Correct</li>
                    <li class="list-group-item list-group-item-danger">Wrong</li>
                </ul>
                <div class="card-footer text-muted">
                    7 days
                </div>
            </div>
        </div>
    </body>
</html>    
<!--{% endblock %}-->