{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cards</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'cards/styles.css' %}">
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Cards</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add' %}">Add new Cards</a>
                    </li>                
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Your Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'decks' %}">Your Decks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>    
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>
        {% if error %}
            <p class='alert alert-danger'>{{ error }}</p>
        {% elif success %}
            <p class='alert alert-success'>{{ success }}</p>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>